= render 'shared/header'

%section.content
  .content__logo
    = image_tag 'logo_white.png'

  .content__rooms-list

    = link_to 'https://www.google.co.jp/' do
      %article.room
        .room__image
          roomの画像表示エリア
          .room__image__price
            ¥3,000 / 時間
        .room__info
          .room__info__name
            写真撮影にぴったり！スタジオhoge
          .room__info__capacity
            〜5人
          .room__info__city
            東京都渋谷区

    = link_to 'https://www.google.co.jp/' do
      %article.room
        .room__image
          roomの画像表示エリア
          .room__image__price
            ¥3,000 / 時間
        .room__info
          .room__info__name
            写真撮影にぴったり！スタジオhoge
          .room__info__capacity
            〜5人
          .room__info__city
            東京都渋谷区

    = link_to 'https://www.google.co.jp/' do
      %article.room
        .room__image
          roomの画像表示エリア
          .room__image__price
            ¥3,000 / 時間
        .room__info
          .room__info__name
            写真撮影にぴったり！スタジオhoge
          .room__info__capacity
            〜5人
          .room__info__city
            東京都渋谷区

= render 'shared/footer'
