%header#header
  .header-inner
    - if user_signed_in?
      = link_to destroy_user_session_path, method: :delete do
        .header-inner__menu_signout
          ログアウト
      = link_to edit_user_registration_path do
        .header-inner__menu_edit
          登録情報編集
    - else
      = link_to new_user_registration_path do
        .header-inner__menu_signup
          新規登録
      = link_to new_user_session_path do
        .header-inner__menu_signin
          ログイン

%section.content
  .content__logo
    = image_tag 'logo_white.png'
  .content__rooms-list

    = link_to 'https://www.google.co.jp/' do
      %article.room
        .room__image
          roomの画像表示エリア
          .room__image__price
            ¥3,000 / 時間
        .room__info
          .room__info__name
            写真撮影にぴったり！スタジオhoge
          .room__info__capacity
            〜5人
          .room__info__city
            東京都渋谷区

    = link_to 'https://www.google.co.jp/' do
      %article.room
        .room__image
          roomの画像表示エリア
          .room__image__price
            ¥3,000 / 時間
        .room__info
          .room__info__name
            写真撮影にぴったり！スタジオhoge
          .room__info__capacity
            〜5人
          .room__info__city
            東京都渋谷区

    = link_to 'https://www.google.co.jp/' do
      %article.room
        .room__image
          roomの画像表示エリア
          .room__image__price
            ¥3,000 / 時間
        .room__info
          .room__info__name
            写真撮影にぴったり！スタジオhoge
          .room__info__capacity
            〜5人
          .room__info__city
            東京都渋谷区


%footer#footer
  .footer-inner
    .footer-inner__logo
      = image_tag 'logo_black.png'
    - unless user_signed_in?
      = link_to new_user_registration_path do
        .footer-inner__menu_signup
          新規登録
      = link_to new_user_session_path do
        .footer-inner__menu_signin
          ログイン

